<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartes Médias Sociaux</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="row">

        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/fb.PNG" class="card-img-top" alt="Réseaux Sociaux">
                <div class="card-body">
                    <h5 class="card-title">Facebook</h5>
                    <p class="card-text">Une plateforme de médias sociaux permettant de se connecter avec des amis et la famille.</p>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/insta.PNG" class="card-img-top" alt="Réseaux Sociaux">
                <div class="card-body">
                    <h5 class="card-title">Instagram</h5>
                    <p class="card-text">Un réseau social centré sur le partage de photos et de vidéos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/twitter.PNG" class="card-img-top" alt="Réseaux Sociaux">
                <div class="card-body">
                    <h5 class="card-title">Twitter</h5>
                    <p class="card-text">Une plateforme de microblogging permettant de partager des pensées en 280 caractères.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/linkidin.PNG" class="card-img-top" alt="Réseaux Sociaux">
                <div class="card-body">
                    <h5 class="card-title">LinkedIn</h5>
                    <p class="card-text">Un réseau social professionnel pour le réseautage et le développement de carrière.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
